accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
blis
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
comm
confection
contourpy
cycler
cymem
datasets
debugpy
decorator
defusedxml
dill
executing
fastjsonschema
filelock
fonttools
fqdn
frozenlist
fsspec
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
ipykernel
ipython
ipython_pygments_lexers
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
langcodes
language_data
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mpmath
multidict
multiprocess
murmurhash
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy<2.0.0
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
preshed
prometheus_client
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pyaml
pyarrow
pycparser
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
safetensors
scikit-learn
scikit-optimize
scipy
seaborn
Send2Trash
shellingham
six
smart-open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
stack-data
sympy
terminado
threadpoolctl
tinycss2
tokenizers
torch
tornado
tqdm
traitlets
transformers
typer
types-python-dateutil
typing-inspection
typing_extensions
tzdata
uri-template
urllib3
wasabi
wcwidth
weasel
webcolors
webencodings
websocket-client
wrapt
xgboost
xxhash
yarl
